{% extends 'projects/base.html' %}
{% block title %}Accueil{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="row">
        {% for project in projects %}
        <div class="col-lg-4">
            <div class="frame m-2">
                <div class="list">
                    <div class="head">
                        <div class="title">{{ project.name }}</div>
                        <div class="subtitle">
                            Ajouter une tâche
                            <a class="add-tache-btn" href="{% url 'projects:add-tache' project.id %}"><img src="{% static 'images/plus.png' %}"></a>
                        </div>
                    </div>
                    <ul>
                        {% for tache in project.tache_set.all %}
                        <li>
                            <form action="{% url 'projects:update-tache' tache.id %}" id="form-tache-{{ tache.id }}" data-tache-id="{{ tache.id }}">
                                {% csrf_token %}
                                <input type="checkbox" id="item-{{ tache.id}}" name="{{ tache.id }}" {% if tache.checked %}checked{% endif %}>
                                <label for="item-{{ tache.id}}" class="text">{{ tache.description }}</label>
                                <label for="item-{{ tache.id}}" class="button"></label>
                                <div class="wrapper">
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 98.5 98.5" enable-background="new 0 0 98.5 98.5" xml:space="preserve">
                                        <path class="checkmark" fill="none" stroke-width="8" stroke-miterlimit="10" d="M81.7,17.8C73.5,9.3,62,4,49.2,4
                                        C24.3,4,4,24.3,4,49.2s20.3,45.2,45.2,45.2s45.2-20.3,45.2-45.2c0-8.6-2.4-16.6-6.5-23.4l0,0L45.6,68.2L24.7,47.3"/>
                                    </svg>
                                </div>
                            </form>
                        </li>
                        {% endfor %}
                        {% if project.tache_set.all|length == 0 %}
                        <li>
                            Pas encore de tâche
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-lg-4">
            <div class="frame m-2">
                <div class="add-project">
                    <a href="{% url 'projects:add-project' %}"><img src="{% static 'images/plus.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}